<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
			<link href="https://bootswatch.com/4/journal/bootstrap.css" rel="stylesheet">
		{% endblock %}
    </head>
    <body>
		<div class="container">
		<form action="/connexion" method="post">
		<fieldset>
			<legend>Connexion</legend>
			<div class="form-group">
			  <label for="exampleInputEmail1">Email address</label>
			  <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<div class="form-group">
			  <label for="exampleInputPassword1">Password</label>
			  <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		<fieldset>
		</form>
		</div>
	</body>
</html>