{% extends 'base.html.twig' %}

{% block title %}Créer un membre{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Créer un Membre</h1>
</div>
<form action="/insertMembre" method="post">
  <fieldset>
	<div class="form-group">
      <label for="exampleInputEmail1">Nom du nouveau membre</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="nomMembre" placeholder="Entrer un nom">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
	<div class="form-group">
      <label for="exampleInputEmail1">Prénom du nouveau membre</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="prenomMembre" placeholder="Entrer un prenom">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
	<div class="form-group">
      <label for="exampleInputEmail1">Email du nouveau membre</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="emailMembre" placeholder="Entrer un email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
	<div class="form-group">
      <label for="exampleInputEmail1">Password du nouveau membre</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="passwordMembre" placeholder="Entrer un email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
	<div class="form-group">
      <label for="exampleInputEmail1">Rôle du nouveau membre</label>
      <select class="form-control" name="roleMembre">
			<option  class="form-control" value="3"> Rédacteur </option>
			<option  class="form-control" value="2"> Technicien </option>
			<option  class="form-control" value="1"> Administrateur </option>
	  </select>
    </div>
  </fieldset>
   <button type="submit" class="btn btn-primary">Créer</button>
   <button type="reset" class="btn btn-primary">Annuler</button>
</form>
{% endblock %}
