{% extends 'base.html.twig' %}

{% block title %}Créer un ticket{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Créer un Ticket</h1>
</div>
<form action="/insertTicket" method="post">
  <fieldset>
	<div class="form-group">
      <label for="exampleInputEmail1">Description</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="description" placeholder="Entrer une description">
    </div>
	<div class="form-group">
      <label for="exampleInputEmail1">Technicien</label>
      <select name="technicien" class="form-control" id="exampleInputEmail1">
		{% for item in membres %}
			<option value="{{ item.id }}"> {{ item.nom }}  </option>
		{%endfor %}
	  </select>
    </div>
	<div class="form-group">
      <label for="exampleInputEmail1">Etat</label>
      <select name="etat" class="form-control" id="exampleInputEmail1">
		{% for item in etats %}
			<option value="{{ item.id }}"> {{ item.nom }}  </option>
		{%endfor %}
	  </select>
    </div>
	<div class="form-group">
		<label for="dateMax">Date Max :</label>
		<input type="date" class="form-control" id="dateMax" name="dateMax">
	</div>

  </fieldset>
   <button type="submit" class="btn btn-primary">Créer</button>
   <button type="reset" class="btn btn-primary">Annuler</button>
</form>
{% endblock %}
