{% extends 'base.html.twig' %}

{% block title %}Liste des états{% endblock %}

{% block body %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Identifiant</th>
      <th scope="col">Description</th>
      <th scope="col">Date Max</th>
      <th scope="col">Technicien</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
	{% for item in tickets %}
		<tr>
			<td> {{ item.id }} 	</td>
			<td> {{ item.description }}	</td>
			<td> {{ item.dateMax|date("d-m-Y") }}	</td>
			<td> {{ item.technicien.prenom }}	</td>
			<td> <a href="/delTicket/{{item.id}}"> Suppr </a></td>
		</tr>
	{% endfor %}
  </tbody>
 </table>
 {% endblock %}