<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
			<link href="https://bootswatch.com/4/journal/bootstrap.css" rel="stylesheet">
		{% endblock %}
    </head>
    <body>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="#">
				Bonjour 
				{{ app.session.get('nomUtilisateur') }}
				{{ app.session.get('prenomUtilisateur') }}
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" 	data-target="#navbarColor01" aria-controls="navbarColor01" 			aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/etat">Créer un état</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listeEtat">Liste Etat</a>
      </li>
	   <li class="nav-item">
        <a class="nav-link" href="/ticket">Créer Ticket</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		</div>
    </body>
</html>
