{% extends 'base.html.twig' %}

{% block title %}Hello EtatController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Créer un état</h1>
</div>
<form action="/createEtat" method="post">
  <fieldset>
	<div class="form-group">
      <label for="exampleInputEmail1">Nom du nouvel état</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="nomEtat" placeholder="Entrer un état">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
  </fieldset>
   <button type="submit" class="btn btn-primary">Créer</button>
   <button type="reset" class="btn btn-primary">Annuler</button>
</form>
{% endblock %}
