{% extends 'base.html.twig' %}

{% block title %}Liste des états{% endblock %}

{% block body %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Identifiant</th>
      <th scope="col">Nom</th>
    </tr>
  </thead>
  <tbody>
	{% for item in listeEtat %}
		<tr>
			<td> {{ item.id }} 	</td>
			<td> {{ item.nom }}	</td>
		</tr>
	{% endfor %}
  </tbody>
 </table>
 {% endblock %}